build >=1.0.3
pytest >=7.4.3
hatchling>=1.21.1
hatch-requirements-txt>=0.4.1
hatch-vcs>=0.4.0
setuptools>=61  # required by hatch-vcs
pip # required by hatch_build.py
macholib; sys_platform == "darwin"

